* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 1.5vw;
    width: 100%;
}

.hero-image {
    background-image: url("../img/kebab.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    width: 100vw;
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.title {
    font-size: 5vw;
}

.subTitle {
    font-size: 1,5vw;
    color: greenyellow;
}

.info {
    font-size: 1,5vw;
    color: greenyellow;
}


/* .inputFields {

} */

.buttons {
    width: 10vw;
    height: 5vh;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (orientation: landscape) {
    
}